
<div class="container">
<div class="row">
<div class="col-lg-3"></div>



<div class="col-lg-6">

<h1>User info</h1>

<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this book from being saved:

  <ul>
   <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
   <% end %>
  </ul>

<% end %>

<%= form_with model: @user do |f| %>


  <h4>Name</h4>
  <div class="form-group">
   <%= f.text_field :name,class:"form-control" %>
  </div>

  <h4>Image</h4>
  <div class="form-group">
  <%= f.file_field :image,placeholder: "ファイルを選択", accept: "image/*" %>
  </div>

　<h4>introduction</h4>
　<div class="form-group">
  <%= f.text_area :introduction ,class:"form-control"%>
  </div>
  <%= f.submit "Update User",class: "btn btn-secondary" %>
<% end %>

<div class="col-lg-3"></div>

</div>
</div>
</div>