<% if book.errors.any? %>
  <%= book.errors.count %>error prohibited this book from being saved:

  <ul>
   <% book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
   <% end %>
  </ul>

<% end %>


<div>
    <h2>User Info</h2>
    <%= image_tag current_user.get_image %>

    <table class="table table-striped">
      <tbody>
        <tr></tr>
        <tr>
          <th>Name</th>
          <th><%=current_user.name%></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%=current_user.introduction%></th>
        </tr>
      </tbody>
    </table>


    <%= link_to edit_user_path(current_user.id),class:"btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
</div>

<div>
  <h2>New Book</h2>
  <%= form_with model: book do |f| %>
    <h4>Title</h4>
      <div class="form-group">
        <%= f.text_field :title,class:"form-control" %>
      </div>

    <h4>Opinion</h4>
      <div class="form-group">
        <%= f.text_area :body,class:"form-control" %>
      </div>

    <%= f.submit 'Create Book', class: "btn btn-success" %>
  <% end %>
</div>